<html>

  <head>
    <meta name="viewport" content="initial-scale=1">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
    </script>
  </head>

  <body>
    <header>
      <!-- Menu Início -->
      <div class="topnav" id="myTopnav">
      <a href="#home"><img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508081718/logo-white-01_hd8xze.png"></a>
      <a href="#news">Como funciona?</a>
      <a href="#contact">Chat 24 horas</a>
      <a href="#about" class="home">Cadastre sua funerária</a>
      <a href="#about" class="home">Documentos importantes</a>
      </div>
      <!-- Menu Final -->
    </header>

    <div class="topo">
      <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1509283321/tela-servicos_yu7pds.png"> <span class="titulo">Customize seu pacote</span>
      <span class="parte">Parte 4 de 4</span>
    </div>

    <div class="explicacao"> 
        Agora que você já escolheu seu pacote, por favor customize com algumas informações. A funerária precisará dessas informações para lhe dar o orçamento de forma precisa!
    </div>

    <section id="conteudo">
      <div class="campos"> Clique no serviço de seu pacote para customizá-lo e fornecer informações importantes</div>
      
      <div class="campos">

        <div class="servicoselecionado">
          <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1509400315/pacotes-01_konumu.png"> <br>Urna mortuária
        </div>

        <div class="servico">
          <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1509400315/pacotes-02_aqj8en.png"> <br>Coroa de flores
        </div>   
              
          <div class="servico">
          <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1509408556/pacotes-04-01_z7p0hk.png"> <br>Urna para cinzas
        </div>  
          
        <div class="servico">
          <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1509411897/pacotes-05-01-01_wnvx4c.png"> <br>Velório 
        </div>  

        <button type="submit" class="confirmar" routerLink="/urna">CONFIRMAR</button>
      
      </div>

    </section>

    <!-- Bolinhas que mudam de menu Início -->  
   <!-- <div class="bolinhas">
        <a id="bolinha1" href="#"></a>
        <a id="bolinha2" href="#"></a>
        <a id="bolinha3" href="#"></a>
    </div> -->
    <!-- Bolinhas que mudam de menu Final -->
     
    <!-- Rodapé Início -->
    <footer>
      <span style="font-weight: 700; font-size: 1.2em; line-height: 3em;">Fale Conosco</span>
      <br>
      <a href="#" id="linkfooter1"><img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508022516/chat-footer-01_sssaf8.png">     Chat 24 horas online</a> 
      <a href="#" id="linkfooter1"><img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508705632/contato-01_hankdg.png">     081 9 8855 7766</a>
      <a href="#" id="linkfooter1"><img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508705632/contato-02_csqype.png">    contato@conforta.me</a>
      <br>
    
      <a href="#"><img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508701975/twitter_jn9gyg.png"></a> <a href="#"><img src="https://rocketfuel.com/wp-content/uploads/white-facebook-1.png"></a> <br>
    
      <a href="#" id="linkfooter2">Termos de Compromisso</a> | <span id="linkfooter2">Direitos reservados @ 2017</span>
    </footer>    
   
  <!-- Rodapé Final -->     

  </body>

</html>