<html>

  <head>
    <meta name="viewport" content="initial-scale=1">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
    </script>
  </head>

  <body>
    <header>
      <!-- Menu Início -->
      <div class="topnav" id="myTopnav">
        <a href="#home"><img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508081718/logo-white-01_hd8xze.png"></a>
        <a href="#news">Como funciona?</a>
        <a href="#contact">Chat 24 horas</a>
        <a href="#about" class="home">Cadastre sua funerária</a>
        <a href="#about" class="home">Documentos importantes</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
      </div>
      <!-- Menu Final -->
      </header>

    <div class="topo">
        <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1509283323/tela-orcamento_ldf9zj.png"> <span class="titulo">Ofertas – Nome do cliente</span>      
    </div>

    <div class="explicacao"> 
        Você recebeu 3 ofertas para seu pedido. Para garantir a veracidade de seu orçamento, os seus contatos só serão trocados após a escolha do orçamento. 
    </div>

    <section id="conteudo">

      <div class="funeraria">
        <span class="funerarianumero">Oferta Número 1: R$3.000,00 </span>
        <span style="color: #00AB9C;">Recife-PE</span> | <p class="comentarios">10</p>
        <ul> 
          <li> Descrição de urna (<a href="#">Ver foto, se disponível</a>)</li>
          <li> Descrição de flores (<a href="#">Ver foto, se disponível</a>)</li>
          <li> Observações extras</li>
        </ul>
        <button type="submit" class="oferta">Escolher oferta número 1</button>
      </div>
    
      <div class="funerariaselecionada">
        <span class="funerarianumero">Oferta Número 2: R$3.100,00 </span>
        <span style="color: #00AB9C;">Recife-PE</span> | <p class="comentarios">10</p>
        <ul>  
          <li> Descrição de urna (<a href="#">Ver foto, se disponível</a>)</li>
          <li> Descrição de flores (<a href="#">Ver foto, se disponível</a>)</li>
          <li> Observações extras</li>
         </ul>
          <button type="submit" class="oferta">Escolher oferta número 2</button>
      </div>
            
      <div class="funeraria">
        <span class="funerarianumero">Oferta Número 3: R$3.000,00 </span>
        <span style="color: #00AB9C;">Recife-PE</span> | <p class="comentarios">10</p>
        <ul> 
          <li> Descrição de urna (<a href="#">Ver foto, se disponível</a>)</li>
          <li> Descrição de flores (<a href="#">Ver foto, se disponível</a>)</li>
          <li> Observações extras</li>
        </ul>
        <button type="submit" class="oferta">Escolher oferta número 3</button>
      </div>
                
      <button type="submit" class="confirmar">CONFIRMAR</button>

    </section>

    <!-- Bolinhas que mudam de menu Início -->  
    <!-- <div class="bolinhas">
      <a id="bolinha1" href="#"></a>
      <a id="bolinha2" href="#"></a>
      <a id="bolinha3" href="#"></a>
    </div> -->
    <!-- Bolinhas que mudam de menu Final -->
     
     <!-- Rodapé Início -->
    <footer>
      <span style="font-weight: 700; font-size: 1.2em; line-height: 3em;">Fale Conosco</span>
      <br>
      <a href="#" id="linkfooter1"><img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508022516/chat-footer-01_sssaf8.png">     Chat 24 horas online</a> 
      <a href="#" id="linkfooter1"><img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508705632/contato-01_hankdg.png">     081 9 8855 7766</a>
      <a href="#" id="linkfooter1"><img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508705632/contato-02_csqype.png">    contato@conforta.me</a>
      <br>
      
      <a href="#"><img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508701975/twitter_jn9gyg.png"></a> <a href="#"><img src="https://rocketfuel.com/wp-content/uploads/white-facebook-1.png"></a> <br>
   
      <a href="#" id="linkfooter2">Termos de Compromisso</a> | <span id="linkfooter2">Direitos reservados @ 2017</span>
    </footer>    
   
  <!-- Rodapé Final -->     

  </body>

</html>