<html>
  <!-- Tudo aqui dentro não é visível para o usuário Início -->
     
  <head>
    <meta name="viewport" content="initial-scale=1">
   
     
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&language=pt-BR&sensor=false"></script>
    <script type="text/javascript" src="distancia.js"></script>
  </head>
  
  <!-- Tudo aqui dentro não é visível para o usuário Final -->
  <body>
       
    <header>
      <!-- Menu Início -->
      <div class="topnav" id="myTopnav">
        <a href="#home"><img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508081718/logo-white-01_hd8xze.png"></a>
        <a href="#news">Como funciona?</a>
        <a href="#contact">Chat 24 horas</a>
        <a href="#about" class="home">Cadastre sua funerária</a>
        <a href="#about" class="home">Documentos importantes</a>
      </div>
      <!-- Menu Final -->
    </header>

    <div class="topo">
      <div class="titulo">Como será feito o sepultamento<br> de seu ente querido?</div>
      <span class="parte">Parte 2 de 4</span>
    </div>
    
    
    <section id="conteudo">
      
     <!-- <div id="enterro">
        <label><input type="radio" name="enterro" id="enterro" >
          <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1510284199/grave_ip6yfs.png" style="width:70px;height:70px;"><br>Enterro
        </label>
      </div> -->           

      <!--<div id="enterro">
        <label><input type="radio" name="cremacao" id="cremacao" >
          <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1510281351/ashes_huawxc.png" style="width:70px;height:70px;"><br>Cremação
        </label>
      </div> -->
      <br>
      
      <button type="submit" class="confirmar" routerLink="/preco">AVANÇAR</button>
            
    </section>
        





    <!-- Rodapé Final -->     
       
  </body>
 </html>