<html>

  <head>
    <meta name="viewport" content="initial-scale=1">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>    
  </head>

  <body>
    <section id="caixao">
      <h4 style="text-align: center; color: #4f4f4f;">URNA MORTUÁRIA</h4>
      <div class="pergunta" style="font-size: 0.8em; text-align: center; font-weight: 400;"> Pedimos para que você responda sobre o seu pedido com calma. Caso algum dos itens não lhe interesse, por favor deixe sua questão em branco. <strong>Os itens estão dispostos de acordo com seu preço, sendo o primeiro o mais acessível.</strong></div>
      <br>

      <div class="pergunta">
        1. Por favor informe a altura de seu ente querido. <br>

        <div id="altura">
          <label><input type="radio" name="altura" id="altura1">
          <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508616905/Altura-02_mmd3tl.png" style="width:50px;height:50px;">
          </label><br>Até 75 cm
        </div>
            
        <div id="altura">
          <label><input type="radio" name="altura" id="altura2" >
          <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508616905/Altura-03_kl12om.png" style="width:50px;height:50px;">
          </label><br>Entre 75 cm e 1,20 m
        </div>
           
        <div id="altura">
          <label><input type="radio" name="altura" id="altura3" >
          <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508616905/Altura-04_vl2vvj.png" style="width:50px;height:50px;">
          </label><br>Entre 1,20 e 1,50 m
        </div>
    
        <div id="altura">
          <label><input type="radio" name="altura" id="altura4" >
          <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508616905/Altura-05_q5mmzc.png" style="width:50px;height:50px;">
          </label><br>Entre 1,50 e 1,80 m
        </div>
            
        <div id="altura">
          <label><input type="radio" name="altura" id="altura4" >
          <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508616905/Altura-06_j1sduy.png" style="width:50px;height:50px;">
          </label><br>Mais que 1,80 m
        </div>
    
      </div>

      <div class="pergunta">
        2. Escolha a cor da urna a seguir. Estas são as cores que cabem em seu orçamento:
        <br>

        <div id="corurna">
          <label><input type="radio" name="corurna" id="cor1" >
          <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508633689/Cor-18_bciipj.png" style="width:50px;height:50px;">
          </label><br>Marrom Escuro
        </div>

        <div id="corurna">
          <label><input type="radio" name="corurna" id="cor2"  >
          <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508633689/Cor-16_l1ykui.png" style="width:50px;height:50px;">
          </label><br>Marrom Médio
        </div>
          
        <div id="corurna">
          <label><input type="radio" name="corurna" id="cor3" >
          <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508633689/Cor-14_lnkc5t.png" style="width:50px;height:50px;">
          </label><br>Marrom Avermelhado
        </div>
          
        <div id="corurna">
          <label><input type="radio" name="corurna" id="cor3">
          <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508633689/Cor-17_ty4odn.png" style="width:50px;height:50px;">
          </label><br>Madeira Amarela
        </div>

        <div id="corurna">
          <label><input type="radio" name="corurna" id="cor2" >
          <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508633691/Cor-19_ylonye.png" style="width:50px;height:50px;">
          </label><br>Branco
        </div>
      </div>

      <div class="pergunta">
        3. Você gostaria de algum ornamento especial? Estes são os ornamentos que cabem em seu orçamento: <br>
          
        <div id="ornamento">
          <label><input type="radio" name="ornamento" id="ornamento1" >
          <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508615521/Ornamentos-09_wuej7u.png" style="width:50px;height:50px;">
          </label><br>Pomba
        </div>

        <div id="ornamento">
          <label><input type="radio" name="ornamento" id="ornamento2">
          <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508615521/Ornamentos-07_zkkqki.png" style="width:50px;height:50px;">
          </label><br>Cruz
        </div>
            
        <div id="ornamento">
          <label><input type="radio" name="ornamento" id="ornamento3">
          <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508615521/Ornamentos-08_opdyjf.png" style="width:50px;height:50px;">
          </label><br>Bíblia
        </div>
            
        <div id="ornamento">
          <label><input type="radio" name="ornamento" id="ornamento3">
          <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1510195970/none-01_vpgzmh.png" style="width:50px;height:50px;">
          </label><br>Nenhum ornamento
        </div>
              
      </div>

      <div class="pergunta">
        4. Que tipo de flores você gostaria dentro da urna? As flores a seguir cabem em seu orçamento:<br>

        <div id="flor">
          <label><input type="radio" name="flor" id="flor1" >
          <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508621873/Flores-11_jkyr4j.png" style="width:60px;height:60px;">
          </label><br>Crisântemos
        </div>
      
        <div id="flor">
          <label><input type="radio" name="flor" id="flor2" >
          <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508635663/Flores-24_rqszfc.png" style="width:60px;height:60px;">
          </label><br>Carinho de mãe
        </div>
      
        <div id="flor">
          <label><input type="radio" name="flor" id="flor3" >
          <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508621871/Flores-12_mv5znp.png" style="width:60px;height:60px;">
          </label><br>Margaridas
        </div>
      
        <div id="flor">
          <label><input type="radio" name="flor" id="flor4" >
          <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508621871/Flores-13_c8ih7d.png" style="width:60px;height:60px;">
          </label><br>Rosas
        </div>
      
        <div id="flor">
          <label><input type="radio" name="flor" id="flor5" >
          <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508621871/Flores-10_lqm9m2.png" style="width:60px;height:60px;">
          </label><br>Lírios
        </div>

      </div>

      <div class="pergunta">
        5. Por favor escolha até três cores para as flores. As cores a seguir cabem em seu orçamento:
        <br>
            
        <div id="corflor">
          <label><input type="checkbox" name="corflor" id="cor6"  >
          <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508633691/Cor-19_ylonye.png" style="width:50px;height:50px;">
          </label><br>Branco
        </div>
            
        <div id="corflor">
          <label><input type="checkbox" name="corflor" id="cor7" >
          <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508633689/Cor-23_ywr9bl.png" style="width:50px;height:50px;">
          </label><br>Amarelo
        </div>
            
        <div id="corflor">
          <label><input type="checkbox" name="corflor" id="cor8" >
          <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508633688/Cor-20_cpeyf4.png" style="width:50px;height:50px;">
          </label><br>Vermelho
        </div>
            
        <div id="corflor">
          <label><input type="checkbox" name="corflor" id="cor9" >
          <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508633688/Cor-21_uq75ws.png" style="width:50px;height:50px;">
          </label><br>Rosa
        </div>
            
        <div id="corflor">
          <label><input type="checkbox" name="corflor" id="cor10" >
          <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508633688/Cor-22_wkeoqc.png" style="width:50px;height:50px;">
          </label><br>Roxo
        </div>
      </div>

      <div class="pergunta">
        6. Caso tenha mais alguma observação que deseje que a funerária saiba sobre a urna mortuária, por favor escreva abaixo. 
        <br>
        <textarea name="observacao" cols="20" rows="5"></textarea>
      </div>

      <button type="submit" class="confirmar" routerLink="/confContato">CONFIRMAR</button>

    </section>

    <!-- Bolinhas que mudam de menu Início -->  
   <!-- <div class="bolinhas">
      <a id="bolinha1" href="#"></a>
      <a id="bolinha2" href="#"></a>
      <a id="bolinha3" href="#"></a>
   </div> -->
    <!-- Bolinhas que mudam de menu Final -->

  </body>

</html>