<!DOCTYPE html>

<html>
 <!-- Tudo aqui dentro não é visível para o usuário Início -->
  
  <head>
  	<title>Conforta.me</title>
  	 <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
   <!-- <link rel="stylesheet" type="text/css" href="style.css"/> -->
   <!-- <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/> -->
    <!-- <script language="JavaScript" src="script.js"></script> -->
  </head>
  
   <!-- Tudo aqui dentro não é visível para o usuário Final -->
  <body>
    
    <header>
     <!-- Menu Início -->
      <div class="topnav" id="myTopnav">
      <a href="#home"><img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508081718/logo-white-01_hd8xze.png"></a>
      <a href="#news">Como funciona?</a>
      <a href="#contact">Chat 24 horas</a>
      <a href="#about" class="home">Cadastre sua funerária</a>
      <a href="#about" class="home">Documentos importantes</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
      </div>
      <!-- Menu Final -->
      
      <!-- Texto com Pomba início --> 
       <section id="intro">
        <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508081714/logo-icon-01_wkscsp.png">
        <h1>Estamos aqui para te ajudar </h1>
        <h2>Sentimos pela sua perda. Iremos te ajudar a encontrar o serviço funerário que você precisa!</h2> 
        <button type="submit" class="iniciar" routerLink="/localizacao">INICIAR</button>
    </section>
 <!-- Texto com Pomba Final -->
 
    </header>


   <!-- 3 ícones Início -->   

  <section id="timeline">
  <div class="front1">
   <img src="https://res.cloudinary.com/df33iekz1/image/upload/v1508025211/front-icons-01_lx07cy.png"> <br>
  O Conforta<span style="color: #0ED2C1">.</span>me é gratuito!
  </div>
 
  <hr class="line"> <!-- Aqui do lado é a linha verde vertical abaixo de cada ícone -->
  
   <div class="front2">
   <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508081705/front-icons-02_uitdkr.png"> <br>
  Você escolhe entre ver o nosso guia interativo completo
  </div>
  
  <hr class="line">
  
    <div class="front2">
   <img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508081709/front-icons-03_kfttw9.png"> <br>
 Ou apenas descrever seu orçamento para as funerárias
  </div>
  
  <hr class="line">
  </section>
   <!-- 3 ícones Final -->   
   
   
   <!-- Carrossel com 4 ícones Início -->   

   <!-- Carrossel com 4 ícones Final -->  
    
   <!-- Rodapé Início -->
<footer>
  <span style="font-weight: 700; font-size: 1.2em; line-height: 3em;">Fale Conosco</span>
  <br>
  <a href="#" id="linkfooter1"><img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508022516/chat-footer-01_sssaf8.png">     Chat 24 horas online</a> 
  <a href="#" id="linkfooter1"><img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508705632/contato-01_hankdg.png">     081 9 8855 7766</a>
  <a href="#" id="linkfooter1"><img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508705632/contato-02_csqype.png">    contato@conforta.me</a>
  <br>
  
    <a href="#"><img src="http://res.cloudinary.com/df33iekz1/image/upload/v1508701975/twitter_jn9gyg.png"></a> <a href="#"><img src="https://rocketfuel.com/wp-content/uploads/white-facebook-1.png"></a> <br>
  
  <a href="#" id="linkfooter2">Termos de Compromisso</a> | <span id="linkfooter2">Direitos reservados @ 2017</span>
</footer>    
 <!-- Rodapé Final -->   
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>  
  </body>
</html>